{% extends 'base.html.twig' %}
{% block title %}Détail d'un projet{% endblock %}
{% block body %}
    <!--====== Start Page-banner section ======-->
    <section class="page-banner bg_cover position-relative z-1">
        <div class="shape shape-one scene">
            <span data-depth="1">
                <img src="{{ asset('assets/images/shape/shape-1.png') }}" alt="">
            </span>
        </div>
        <div class="shape shape-two scene">
            <span data-depth="2">
                <img src="{{ asset('assets/images/shape/shape-2.png') }}" alt="">
            </span>
        </div>
        <div class="shape shape-three scene">
            <span data-depth="3">
                <img src="{{ asset('assets/images/shape/shape-3.png') }}" alt="">
            </span>
        </div>
        <div class="shape shape-four scene">
            <span data-depth="4">
                <img src="{{ asset('assets/images/shape/shape-2.png') }}" alt="">
            </span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-title">
                        <h1>Détail d'un projet</h1>
                        <ul class="breadcrumbs-link">
                            <li><a href="/">Accueil</a></li>
                            <li class="active">Détail d'un projet</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="page-banner-img">
                        <img src="{{ asset('uploads/projects/' ~ project.illustrativeImageName) }}" alt="{{ project }}">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== End Page-banner section ======-->
    <!--====== Start Portfolio Details section ======-->
    <section class="portfolio-details-section pt-210 pb-130">
        <div class="container">
            <div class="portfolio-details-wrapper wow fadeInUp">
                <div class="portfolio-item">
                    <div class="text">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="content">
                                    <h3 class="title">{{ project }}</h3>
                                    <p class="text-justify">{{ project.summary }}</p>
                                </div>
                                <div class="content">
                                    {{ project.content|markdown_to_html|sanitize_html}}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="portfolio-info mb-45">
                                    <ul>
                                        <li>
                                            <h4>Catégories</h4>
                                            <p>{% for tag in project.tags  %}
                                                    {{ tag }},
                                                {% endfor %}</p>
                                        </li>
                                        <li>
                                            <h4>Clients</h4>
                                            <p>Themis</p>
                                        </li>
                                        <li>
                                            <h4>Date</h4>
                                            <p class="text-uppercase">{{ project.createdAt|format_datetime(locale='fr', pattern="dd MMMM YYYY") }}</p>
                                        </li>
                                        <li>
                                            <h4>Location</h4>
                                            <p>55 Main Street, New York</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-nav-tag pt-80">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="post-nav-item prev-post">
                                <div class="thumb">
                                    <img src="{{ asset('assets/images/portfolio/thumb-1.jpg') }}" alt="">
                                </div>
                                <div class="text">
                                    <h4><a href="#">Creative Web Design</a></h4>
                                    <p><a href="#">Design</a>, <a href="#">Agency</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="post-icon text-center">
                                <img src="{{ asset('assets/images/portfolio/icon-1.png') }}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="post-nav-item next-post">
                                <div class="thumb">
                                    <img src="{{ asset('assets/images/portfolio/thumb-2.jpg') }}" alt="">
                                </div>
                                <div class="text">
                                    <h4><a href="#">Creative Web Design</a></h4>
                                    <p><a href="#">Design</a>, <a href="#">Agency</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--====== End Portfolio Details section ======-->
{% endblock %}



