{% extends 'admin/layout.html.twig' %}
{% block body_id 'login' %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}

{% block main %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="well">
                <form action="{{ path('app_login') }}" method="post">
                    <fieldset>
                        <legend><i class="fa fa-lock" aria-hidden="true"></i> Connexion</legend>
                        <div class="form-group">
                            <label for="email">Adresse email</label>
                            <input type="text" id="email" name="email" value="{{ last_username }}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" id="password" name="password" class="form-control" />
                        </div>
                        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Se Connecter
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-3">
        {% block sidebar %}
        {{ parent() }}
        {% endblock %}
        </div>
    </div>
{% endblock %}
